* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}
/* Common */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --height: 56px;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    color: #000958;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

a {
    text-decoration: none;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section__heading {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}

/* Header*/
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_list {
    display: flex;
}

.header-action__link,
.navbar_link {
    padding: 8px 18px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.header-action__link:hover {
    text-decoration: underline;
}

.navbar_link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 121px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -43px;
    top: 17px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    margin-left: -24px;
    margin-bottom: -58px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    border: 2px solid #f7ddff;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__list-item {
    display: flex;
}

.hero__list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero__list-item:nth-of-type(2) .hero__list-item__thumb {
    background: #c6e2fa;
}

.hero__list-item__info {
    margin-left: 9px;
}

.hero__list-item-title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list-item-skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__list-item-separate {
    display: block;
    margin: 20px 0;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero__heading {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    padding: 22px 30px;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading {
    margin-top: 15px;
}

.about__desc {
    margin-top: 24px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    content: url(../icon/check.svg);
    top: 3px;
    left: 4px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -31px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__img-wrap-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 12px;
    right: 63px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -36px;
}
.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}
.about__decor-img:nth-child(6) {
    top: 435px;
    left: 377px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__item-active::after,
.tab__list::after {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 99px;
}

.tab__item-active::after {
    opacity: 1;
    width: 95px;
    border-radius: 99px;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__icon {
    width: 22px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item-active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 99px;
}

/* Service */
.service {
    margin-top: 190px;
    background: #fff6ed;
    padding: 68px 0 100px 0;
}

.service__top {
    text-align: center;
}

.staff__desc,
.service__heading-des {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 68px;
    margin-top: 71px;
}

.service__item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 28px;
}

.service__item + .service__item {
    margin-top: 24px;
}

.service__item-heading {
    position: relative;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 12px;
}

.service__item-heading::before {
    position: absolute;
    content: "";
    left: 0;
    height: 22px;
    width: 2px;
    background: linear-gradient(#ff5b2e, #ffa187);
    border-radius: 99px;
}

.service__item-desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7; /* 171.429% */
}

.service__item-more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.service__item-more::after {
    content: url(../icon/ArrowUpRight.svg);
    margin: 2px 0 0 5px;
}

.service__media {
    position: relative;
    margin-top: 17px;
}

.service__media::after {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    content: "";
}

.service__img {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    width: 214px;
    height: 56px;
    border-radius: 31px;
    color: #ff5b2e;
    border-color: #ff997a;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__item {
    text-align: center;
}

.staff-iem__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-iem__img-wrap::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-iem__img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__item:nth-child(1) .staff-iem__img-wrap::after {
    background-image: url(../img/staff-decor01.svg);
}

.staff__item:nth-child(2) .staff-iem__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(2) .staff-iem__img-wrap::after {
    background-image: url(../img/staff-decor02.svg);
}

.staff__item:nth-child(3) .staff-iem__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(3) .staff-iem__img-wrap::after {
    background-image: url(../img/staff-decor03.svg);
}

.staff__item:nth-child(4) .staff-iem__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item:nth-child(4) .staff-iem__img-wrap::after {
    background-image: url(../img/staff-decor04.svg);
}

.staff__item:nth-child(even) .staff-iem__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff-cta {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-color: #ff5b2e;
    min-width: 193px;
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

/* Pricing */
.pricing {
    background: #fff6ed;
    padding: 86px 0;
}

.pricing__container {
    width: 994px;
}

.pricing__desc,
.pricing__heading {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 100%;
    background: #ff5b2e;
    border-radius: inherit;
    top: 0;
    left: 0;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1),
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
}

.pricing-item__btn {
    margin-top: 22px;
    width: 246px;
    height: 44px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    background: transparent;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 28px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__item::before {
    margin-right: 12px;
    content: url(../img/price-check.svg);
}

/* Review */
.review {
    padding: 104px 0 52px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffd1c4;
    color: #ff5b2e;
}
.review__control:hover {
    background: #ff5b2e;
    color: #fff;
    border-color: #ff5b2e;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
    margin-top: -52px;
}

.review-item__media::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
}

.review-item__content {
    margin-top: 28px;
}

.review-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.review-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    width: 553px;
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review-item__author::before {
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
}

.review__dot:hover {
    background-color: #ff5b2e;
    cursor: pointer;
}

.review__dot-active {
    width: 24px;
    background: #ff5b2e;
}

/* Blog */
.blog {
    padding: 78px 0;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__info {
    width: 350px;
    margin-right: 74px;
}

.blog__desc {
    margin-top: 0;
}

.blog__cta {
    margin-top: 24px;
    width: 182px;
    border-radius: 31px;
    border: 1px solid #ff5b2e99;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.blog-item__time {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}

.blog-item__img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog-item__img-wrap {
    border-radius: 24px;
    background: #90ccff;
    padding: 24px 0 0 36px;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__info {
    padding: 28px 16px 0 0;
}

.blog-item__title {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blog-item__desc {
    margin-top: 26px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

/* Footer */
.footer {
    margin-top: 53px;
    background: linear-gradient(to right, #fff6ed 43%, #fffaf5 43%);
}

.footer__inner {
    display: flex;
}

.footer__left {
    padding: 114px 0 148px;
    width: 43%;
}

.footer__right {
    flex: 1;
    padding: 52px 0 48px 0;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.search__form {
    display: flex;
    margin-top: 34px;
    margin-bottom: 68px;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
}

.search__form-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0 22px;
    font-size: 1.4rem;
}

.search__form-input::placeholder {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.17; /* 116.667% */
}

.search__form-submit {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -1px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ff5b2e;
    outline: none;
    border: none;
}

.search__form-submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.footer__heading {
    color: #000958;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.11;
}

.social-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
}

.social-item:hover {
    opacity: 0.9;
}

.footer__list {
    margin-top: 14px;
}

.footer__link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2; /* 200% */
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    margin: 52px 0 0 22px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
}
